.image_el_overlayer:hover {
    background-color: rgba(200,200,200,0.3);
}
.image_el_overlayer:focus {
    background-color: rgba(200,200,200,0.3);
}
.image_el_overlayer {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.image_el_wrapper{
    position: relative;
}

.nav-link
{
    font-family: 'Lato', sans-serif;
    color:black !important;
    font-size: 22px;
    margin: 0px;
}

.nav-link:hover
{
    color:grey !important;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  opacity: 0.5;
  background-color: rgb(200,200,200);
}
